$layout-width-inner: 980px;
//ブレークポイント
$breakpoints: (
  "sp": "(max-width: 767px)",
  "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  "pc": "(min-width: #{$layout-width-inner})",
) !default;
//メディアクエリ
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
$color-main: #515151;
$color-btn: #79a63a;
body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "Verdana", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: $color-main;
}

.inner {
  max-width: $layout-width-inner;
  width: 100%;
  margin: 0 auto;
  @include mq(tab) {
    max-width: 600px;
  }
  
  @include mq(sp) {
    max-width: 360px;
    padding: 0 5px;
  }
}
img {
  width: 100%;
  height: auto;
}

/**********************
header-btn
***********************/
.btn {
  width: 124px;
  @include mq(tab) {
    width: 90px;
  }
  @include mq(sp) {
    width: 65px;
  }
  a {
    width: 100%;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    background: $color-btn;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 4px 2px #69831c;
    transform: translateY(-4px);
    transition: all 0.2s;
    @include mq(sp) {
      box-shadow: 0 2px 1px #69831c;
      transform: translateY(-2px);
    }
    &:hover {
      box-shadow: 0 1px 0 #69831c;
      transform: translateY(-1px);
    }
    img {
      width: 20px;
      vertical-align: middle;
      margin-right: 6px;
      @include mq(tab) {
        width: 15px;
      }
      @include mq(sp) {
        width: 8px;
        margin-right: 3px;
      }
    }
    @include mq(tab) {
      height: 24px;
      line-height: 24px;
      font-size: 10px;
    }
    @include mq(sp) {
      height: 12px;
      line-height: 12px;
      font-size: 10px;
      border-radius: 2px;
    }
  }
}
/******************************
section-btn
*****************************/
.section-btn {
  width: 345px;
  margin-top: 44px;
  @include mq(tab) {
    width: 200px;
    margin-top: 20px;
  }
  @include mq(sp) {
    width: 150px;
    margin-top: 10px;
    transform: scale(0.6);
  }
  a {
    font-size: 18px;
    font-weight: bold;
    background: #78a639;
    display: block;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 57px;
    line-height: 57px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 4px 2px #69831c;
    transform: translateY(-4px);
    transition: all 0.2s;
    &:hover {
      box-shadow: 0 1px 0 #69831c;
      transform: translateY(-1px);
    }
    @include mq(tab) {
      height: 30px;
      line-height: 30px;
      border-radius: 3px;
      font-size: 10px;
    }
    @include mq(sp) {
      height: 25px;
      line-height: 25px;
      border-radius: 3px;
      font-size: 10px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 22px;
      background: url(../img/section-img/btn_arrow_white_right_2019.svg) center center / contain no-repeat;
      width: 14px;
      height: 16px;
      @include mq(tab) {
        width: 8px;
        height: 10px;
        right: 10px;
      }
      @include mq(sp) {
        width: 8px;
        height: 10px;
        right: 10px;
      }
    }
  }
}

/**********************
header
***********************/
.header-sale {
  background: #ebe1cd;
  height: 47px;
  @include mq(tab) {
    height: 30px;
  }
  @include mq(sp) {
    height: 15px;
  }
}

.header-sale-inner {
  height: 47px;
  padding-right: 35px;
  @include mq(tab) {
    height: 30px;
  }
  @include mq(sp) {
    height: 15px;
    padding-right: 0;
  }
}

.header-sale-link {
  height: 47px;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: all 0.3s;
  &:hover {
    opacity: 0.7;
  }
  @include mq(tab) {
    height: 30px;
  }
  @include mq(sp) {
    height: 15px;
  }
}

.header-sale-icon {
  width: 132px;
  @include mq(tab) {
    width: 80px;
  }
  @include mq(sp) {
    width: 40px;
  }
}

.header-sale-text {
  width: 194px;
  margin-left: 8px;
  @include mq(tab) {
    width: 140px;
  }
  @include mq(sp) {
    width: 50px;
    margin-left: 2px;
  }
}

.header-sale-off {
  font-size: 38px;
  color: #e95464;
  margin-left: 8px;
  font-weight: bold;
  @include mq(tab) {
    font-size: 26px;
  }
  @include mq(sp) {
    font-size: 12px;
  }
  @include mq(sp) {
    margin-left: 3px;
  }
}

.header-sale-date {
  background: #e95464;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  height: 32px;
  line-height: 32px;
  padding: 0 17px;
  display: inline-block;
  border-radius: 6px;
  position: relative;
  margin-left: 16px;
  @include mq(tab) {
    padding-right: 0 10px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    padding: 0 10px;
  }
  @include mq(sp) {
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    padding: 0 5px;
    transform: scale(0.5);
    display: block;
    transform-origin: 0 8px;
    margin-left: 7px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 8px 4px 0;
    border-color: transparent #e95464 transparent transparent;
    top: 50%;
    transform: translateY(-50%);
    left: -8px;
  }
}

.header-about {
  height: 64px;
  @include mq(tab) {
    height: 40px;
  }
  @include mq(sp) {
    height: 20px;
  }
}

.header-about-inner {
  height: inherit;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq(sp) {
    padding: 0 5px;
  }
}

.header-logo {
  width: 154px;
  display: inline-block;
  transition: all 0.3s;
  vertical-align: middle;
  &:hover {
    opacity: 0.7;
  }
  @include mq(tab) {
    width: 80px;
  }
  @include mq(sp) {
    width: 40px;
  }
}

.header-about-date {
  width: 100px;
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  transition: all 0.3s;
  &:hover {
    opacity: 0.7;
  }
  @include mq(tab) {
    width: 60px;
    margin-left: 12px;
  }
  @include mq(sp) {
    width: 30px;
    margin-left: 6px;
  }
}

.header-about-pay {
  width: 250px;
  display: inline-block;
  margin-left: 18px;
  transition: all 0.3s;
  vertical-align: middle;
  &:hover {
    opacity: 0.7;
  }
  @include mq(tab) {
    width: 150px;
    margin-left: 10px;
  }
  @include mq(sp) {
    width: 70px;
    margin-left: 5px;
  }
}

.header-about-right {
  display: flex;
}

.header-about-btn-login {
  margin-left: 12px;
  @include mq(tab) {
    margin-left: 8px;
  }
  @include mq(sp) {
    margin-left: 2px;
  }
}

.header-link {
  width: 100%;
  height: 55px;
  background: #da5341;
  z-index: 10;
  color: #fff;
  font-weight: bold;
  @include mq(tab) {
    height: 38px;
  }
  @include mq(sp) {
    height: 18px;
  }
}

.header-link-inner {
  width: 100%;
  height: inherit;
}

.header-scroll {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.header-link-lists- {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 42px;
    width: 1px;
    background: #fff;
    @include mq(tab) {
      height: 28px;
    }
    @include mq(sp) {
      height: 14px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 42px;
    width: 1px;
    background: #fff;
    @include mq(tab) {
      height: 28px;
    }
    @include mq(sp) {
      height: 14px;
    }
  }
}
.header-link-lists {
  display: flex;
  width: 100%;
  position: relative;
  height: 55px;
  background: #da5341;
  @include mq(tab) {
    height: 38px;
  }
  @include mq(sp) {
    height: 18px;
  }
  
  
  a {
    font-size: 1.125rem;
    display: inline-block;
    height: 55px;
    line-height: 55px;
    position: relative;
    width: 20%;
    text-align: center;
    transition: all 0.3s;
    &:hover {
      background: #b25a50;
    }
    @include mq(tab) {
      height: 38px;
      line-height: 38px;
      font-size: 12px;
    }
    @include mq(sp) {
      height: 18px;
      line-height: 18px;
      font-size: 10px;
    }
    img {
      width: 25px;
      vertical-align: middle;
      margin-right: 12px;
      @include mq(tab) {
        width: 15px;
        margin-right: 8px;
      }
      @include mq(sp) {
        width: 8px;
        margin-right: 2px;
      }
    }

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 42px;
        width: 1px;
        background: #fff;
        @include mq(tab) {
          height: 28px;
        }
        @include mq(sp) {
          height: 14px;
        }
      }
    }
  }
}

.header-link-back {
  background: #fbfaf5;
}

.header-link-back-inner {
  font-weight: bold;
  background: #fff;
  border-bottom: 1px solid #dde1da;
  padding: 8px 0 8px 0;
  @include mq(tab) {
    padding: 4px 0 4px 0;
  }
  @include mq(sp) {
    padding: 0;
  }

  a {
    display: inline-block;
    color: #c5c7c8;
    margin-left: 22px;
    padding-left: 18px;
    position: relative;
    transition: all 0.3s;
    &:hover {
      opacity: 0.7;
    }
    @include mq(tab) {
      font-size: 12px;
      margin-left: 15px;
      padding-left: 12px;
    }
    @include mq(sp) {
      font-size: 10px;
      margin-left: 10px;
      padding-left: 6px;
    }
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background: url(../img/header-img/back_icon.svg) center center / contain no-repeat;
      width: 16px;
      height: 16px;
      @include mq(tab) {
        width: 12px;
        height: 12px;
      }
      @include mq(sp) {
        width: 6px;
        height: 6px;
      }
    }
  }
  h1 {
    color: #51516d;
    padding-left: 350px;
    display: inline-block;
    font-size: 20px;
    @include mq(tab) {
      padding-left: 250px;
      font-size: 16px;
    }
    @include mq(sp) {
      font-size: 10px;
      padding-left: 80px;
    }
  }
}
/**************************
about
***************************/
.about {
  background: #fbfaf5;
  padding: 52px 124px 108px 112px;
  @include mq(tab) {
    padding: 30px 26px 70px 26px;
  }
  @include mq(sp) {
    padding: 15px 13px 35px 13px;
  }
}

.about-img {
  position: absolute;
  top: 0;
  left: -99%;
  @include mq(tab) {
    left: -90%;
  }
  @include mq(sp) {
  }
  img {
    width: 520px;
    @include mq(tab) {
      width: 300px;
    }
    @include mq(sp) {
      width: 180px;
    }
  }
}

.about-wrap {
  width: 50.7%;
  margin-left: auto;
  position: relative;
}

.about-head {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  @include mq(tab) {
    font-size: 26px;
  }
  @include mq(sp) {
    font-size: 15px;
  }
  span {
    color: #e95565;
  }
}

.about-text {
  margin-top: 42px;
  font-size: 22px;
  @include mq(tab) {
    font-size: 14px;
    margin-top: 20px;
  }
  @include mq(sp) {
    font-size: 10px;
    margin-top: 10px;
  }
  span {
    font-weight: bold;
  }
}

.about-point {
  text-align: center;
  margin-top: 28px;
  @include mq(tab) {
    margin-top: 20px;
  }
  @include mq(sp) {
    margin-top: 10px;
  }
  a {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 34px;
      @include mq(tab) {
        margin-left: 18px;
      }
      @include mq(sp) {
        margin-left: 5px;
      }
    }
    transition: all 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
  img {
    width: 112px;
    @include mq(tab) {
      width: 70px;
    }
    @include mq(sp) {
      width: 35px;
    }
  }
}

/**********************
easy
**********************/
.easy {
  background: #fbfaf5;
  padding-bottom: 80px;
  @include mq(tab) {
    padding-bottom: 50px;
  }
  @include mq(sp) {
    padding-bottom: 25px;
  }
}

/**********************
section共通
***********************/

.section-title {
  background: #dbe2ea;
}

.section-title-inner {
  position: relative;
}

.section-point-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  @include mq(tab) {
    width: 50px;
  }
  @include mq(sp) {
    width: 25px;
    left: 31px;
  }
}

.section-head {
  background-image: url(../img/easy-img/bg_title001@2x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 87px;
  text-align: center;
  font-size: 27px;
  color: #fff;
  font-weight: bold;
  line-height: 87px;
  @include mq(tab) {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
  }
  @include mq(sp) {
    height: 30px;
    line-height: 30px;
    font-size: 10px;
  }
}
/*******************
section共通ここまで
********************/
.easy-title-img {
  width: 800px;
  margin-top: -50px;
  vertical-align: top;
  margin-left: 100px;
  @include mq(tab) {
    width: 500px;
    margin-left: 80px;
  }
  @include mq(sp) {
    width: 200px;
    margin-left: 70px;
    margin-top: -10px;
  }
}

.easy-items {
  display: flex;
  margin-top: 42px;
  @include mq(tab) {
    margin-top: 30px;
  }
  @include mq(sp) {
    margin-top: 15px;
  }
}

.easy-item {
  width: calc(33.3% - 28px * 2 / 3);
  background: #fff;
  padding: 25px 0 40px 0;
  @include mq(tab) {
    width: calc(33.3% - 18px * 2 / 3);
    padding: 20px 0 20px 0;
  }
  @include mq(sp) {
    width: calc(33.3% - 10px * 2 / 3);
    padding: 5px 0 5px 0;
  }
  &:not(:first-child) {
    margin-left: 28px;
    @include mq(tab) {
      margin-left: 18px;
    }
    @include mq(sp) {
      margin-left: 10px;
    }
  }
}

.easy-item-title {
  width: 132px;
  margin: 0 auto;
  @include mq(tab) {
    width: 80px;
  }
  @include mq(sp) {
    width: 50px;
  }
}

.easy-item-head {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  margin-top: 16px;
  padding: 0 20px;
  @include mq(tab) {
    font-size: 12px;
    margin-top: 12px;
    padding: 0 16px;
  }
  @include mq(sp) {
    font-size: 10px;
    margin-top: 3px;
    padding: 0 0;
    transform: scale(0.6);
    transform-origin: 50px 0;
    display: block;
  }
}

.easy-item-img {
  margin-top: 18px;
  @include mq(tab) {
    margin-top: 12px;
  }
  @include mq(sp) {
    margin-top: 3px;
  }
}

.easy-item-text {
  span {
    font-weight: bold;
  }
  margin-top: 25px;
  padding: 0 20px;
  @include mq(tab) {
    margin-top: 18px;
    padding: 0 10px;
    font-size: 10px;
  }
  @include mq(sp) {
    margin-top: 9px;
    padding: 0 5px;
    font-size: 10px;
  }
}

.easy-step-img {
  display: flex;
  margin: 34px 20px 0 20px;
  @include mq(tab) {
    margin: 30px 14px 0 14px;
  }
  @include mq(sp) {
    margin: 15px 5px 0 5px;
  }
  div {
    width: calc(25% - (20px * 3) / 4);
    @include mq(tab) {
      width: calc(25% - 14px * 3 / 4);
    }
    @include mq(sp) {
      width: calc(25% - 5px * 3 / 4);
    }
    img {
      height: 100%;
    }
    &:not(:first-child) {
      margin-left: 20px;
      @include mq(tab) {
        margin-left: 14px;
      }
      @include mq(sp) {
        margin-left: 5px;
      }
    }
  }
}

.step-picture-wrap {
  position: relative;
  background: #deb068;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -14px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 13.9px;
    border-color: transparent transparent transparent #deb068;
    @include mq(tab) {
      border-width: 4px 0 4px 6.9px;
      right: -7px;
    }
    @include mq(sp) {
      border-width: 2px 0 2px 3.4px;
      right: -4px;
    }
  }
}

.step-greeting-wrap {
  position: relative;
  background: #4da4c6;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -13px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 13.9px;
    border-color: transparent transparent transparent #4da4c6;
    @include mq(tab) {
      border-width: 4px 0 4px 6.9px;
      right: -6px;
    }
    @include mq(sp) {
      border-width: 2px 0 2px 3.4px;
      right: -3px;
    }
  }
}

.step-from-wrap {
  background: #75871f;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -13px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 13.9px;
    border-color: transparent transparent transparent #75871f;
    @include mq(tab) {
      border-width: 4px 0 4px 6.9px;
      right: -6px;
    }
    @include mq(sp) {
      border-width: 2px 0 2px 3.4px;
      right: -3px;
    }
  }
}

.step-adjust-wrap {
  background: #7d7d7d;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -14px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 13.9px;
    border-color: transparent transparent transparent #7d7d7d;
    @include mq(tab) {
      border-width: 4px 0 4px 6.9px;
      right: -7px;
    }
    @include mq(sp) {
      border-width: 2px 0 2px 3.4px;
      right: -3px;
    }
  }
}

.easy-step-point {
  padding: 0 26px 0 20px;
  margin-top: 6px;
  font-size: 10px;
  display: inline-block;
  position: relative;
  @include mq(tab) {
    font-size: 10px;
    transform: scale(0.8);
    padding: 0 18px 0 0;
  }
  @include mq(sp) {
    font-size: 10px;
    padding: 0 10px 0 0;
  }
  &::after {
    position: absolute;
    content: "";
    bottom: -10%;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 9px 0 9px;
    border-color: #df7163 transparent transparent transparent;
    @include mq(tab) {
      border-width: 7px 5.5px 0 5.5px;
      bottom: 2px;
    }
    @include mq(sp) {
      border-width: 3.5px 2.7px 0 2.7px;
      display: none;
    }
  }
}

.easy-complete {
  margin: 7px 23px 0 23px;
  height: 35px;
  clear: left;
  @include mq(tab) {
    margin: 0 18px 0 18px;
    height: 20px;
  }
  @include mq(sp) {
    margin: 0 5px 0 5px;
    height: 10px;
  }
  img {
    background: #df7163;
  }
}

/****************************
fast 
***************************/
.fast {
  padding-bottom: 78px;
  background: #fbfaf4;
  @include mq(tab) {
    padding-bottom: 50px;
  }
  @include mq(sp) {
    padding-bottom: 25px;
  }
}

.fast-title {
  background: #ebf0e0;
  padding-bottom: 36px;
  @include mq(tab) {
    padding-bottom: 24px;
  }
  @include mq(sp) {
    padding-bottom: 12px;
  }
}

.fast-title-inner {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -36px;
    right: -82px;
    width: 313px;
    height: 326px;
    background: url(../img/fast-img/title002_bg@2x.png) center center / cover no-repeat;
    @include mq(tab) {
      width: 200px;
      height: 210px;
      bottom: -24px;
      right: -50px;
    }
    @include mq(sp) {
      width: 100px;
      height: 100px;
      right: 0;
      bottom: -12px;
    }
  }
}

.fast-title-img {
  width: 320px;
  margin: 0 auto;
  padding-top: 40px;
  @include mq(tab) {
    width: 200px;
    padding-top: 30px;
  }
  @include mq(sp) {
    width: 130px;
    padding-top: 15px;
  }
}

.fast-title-head {
  font-size: 27px;
  font-weight: bold;
  margin-top: 26px;
  text-align: center;
  @include mq(tab) {
    font-size: 18px;
    margin-top: 12px;
  }
  @include mq(sp) {
    font-size: 10px;
    margin-top: 6px;
  }
}

.green-text {
  color: #69811b;
}

.fast-title-head-bold {
  font-size: 30px;
  @include mq(tab) {
    font-size: 22px;
  }
  @include mq(sp) {
    font-size: 14px;
  }
}

.fast-point-red {
  margin-top: 4px;
  color: #e95363;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  @include mq(tab) {
    font-size: 10px;
    margin-top: 0;
  }
  @include mq(sp) {
    font-size: 10px;
    margin-top: 0;
    transform: scale(0.6);
    display: block;
  }
}

.fast-text-red {
  color: #e95666;
  font-size: 14px;
  padding-left: 13px;
  position: relative;
  @include mq(tab) {
    font-size: 10px;
    padding-left: 10px;
  }
  @include mq(sp) {
    font-size: 10px;
    padding-left: 5px;
    transform: scale(0.6);
    display: block;
    transform-origin: 0 0;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 13px;
    height: 13px;
    background: #e95363;
    border-radius: 50%;
    @include mq(tab) {
      width: 10px;
      height: 10px;
    }
    @include mq(sp) {
      width: 5px;
      height: 5px;
    }
  }
}

.fast-text-red-wrap {
  margin-top: 25px;
  @include mq(tab) {
    margin-top: 15px;
  }
  @include mq(sp) {
    margin-top: 5px;
  }
}

.fast-head {
  background-image: url(../img/fast-img/bg_title002@2x.png);
}

.fast-point-wrap {
  display: flex;
}

.fast-point-item {
  width: calc(50% - 32px * 1 / 2);
  margin-top: 36px;
  @include mq(tab) {
    width: calc(50% - 16px * 1 / 2);
    margin-top: 24px;
  }
  @include mq(sp) {
    width: calc(50% - 8px * 1 / 2);
    margin-top: 12px;
  }
}

.fast-point-text {
  margin-left: 32px;
  @include mq(tab) {
    margin-left: 16px;
    font-size: 10px;
  }
  @include mq(sp) {
    font-size: 10px;
    margin-left: 8px;
  }
  span {
    font-weight: bold;
  }
}

/*********************
safe
**********************/
.safe {
  background: #fbfaf4;
}

.safe-title {
  background: #fbe6e8;
}

.safe-title-inner {
  padding-bottom: 42px;
  @include mq(tab) {
    padding-bottom: 32px;
  }
  @include mq(sp) {
    padding-bottom: 4px;
  }
}

.safe-title-img {
  width: 460px;
  margin: 0 auto;
  padding-top: 36px;
  @include mq(tab) {
    width: 250px;
    padding-top: 24px;
  }
  @include mq(sp) {
    width: 150px;
    padding-top: 12px;
  }
}

.safe-title-wrap {
  display: flex;
  margin-top: 30px;
  @include mq(sp) {
    margin-top: 15px;
  }
}

.safe-title-item {
  width: calc(50% - 28px * 1 / 2);
  @include mq(tab) {
    width: calc(50% - 18px * 1 / 2);
  }
  @include mq(sp) {
    width: calc(50% - 9px * 1 / 2);
  }
  &:not(:first-child) {
    margin-left: 28px;
    @include mq(tab) {
      margin-left: 18px;
    }
    @include mq(sp) {
      margin-left: 9px;
    }
  }
}

.safe-title-head {
  font-size: 27px;
  font-weight: bold;
  @include mq(tab) {
    font-size: 15px;
  }
  @include mq(sp) {
    font-size: 12px;
  }
  span {
    color: #e95363;
  }
}

.safe-title-text {
  margin-top: 24px;
  @include mq(tab) {
    margin-top: 10px;
    font-size: 10px;
  }
  @include mq(sp) {
    margin-top: 5px;
    font-size: 10px;
  }
  span {
    font-weight: bold;
  }
}

.safe-title-right {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 22px;
    top: -202px;
    background: url(../img/safe-img/title003_bg@2x.png) center center / cover no-repeat;
    width: 220px;
    height: 218px;
    @include mq(tab) {
      width: 130px;
      height: 130px;
      top: -123px;
    }
    @include mq(sp) {
      width: 60px;
      height: 60px;
      top: -28px;
    }
  }
  img {
    @include mq(sp) {
      margin-top: 28px;
    }
  }
}

.kind-3points-items {
  display: flex;
  margin-top: 80px;
  align-items: end;
  @include mq(tab) {
    margin-top: 40px;
  }
  @include mq(sp) {
    margin-top: 20px;
  }
}

.kind-3points-item {
  width: 50%;
}

.kind-3points-left {
  padding-left: 24px;
  @include mq(tab) {
    padding-left: 10px;
  }
  @include mq(sp) {
    padding-left: 5px;
  }
}

.kind-3points-right {
  padding-right: 24px;
  @include mq(tab) {
    margin-right: 10px;
  }
  @include mq(sp) {
    margin-right: 5px;
  }
}

.kind-3points-imgs {
  display: flex;
  a {
    display: inline-block;
    width: calc(33.3% - 18px * 2 / 3);
    @include mq(tab) {
      width: calc(33.3% - 10px * 2 / 3);
    }
    @include mq(sp) {
      width: calc(33.3% - 5px * 2 / 3);
    }
    img {
      vertical-align: bottom;
    }
    &:not(:first-child) {
      margin-left: 18px;
      @include mq(tab) {
        margin-left: 10px;
      }
      @include mq(sp) {
        margin-left: 5px;
      }
    }
  }
}

.kind-3points-text {
  font-size: 16.666px;
  margin-top: 20px;
  text-align: center;
  @include mq(tab) {
    font-size: 12px;
    margin-top: 10px;
  }
  @include mq(sp) {
    font-size: 14px;
    margin-top: 5px;
  }
  span {
    font-weight: bold;
  }
}

/***************************
kind-1point
*****************************/
.kind-1point {
  padding: 26px 0 60px 0;
  @include mq(tab) {
    padding: 20px 0 40px 0;
  }
  @include mq(sp) {
    padding: 10px 0 20px 0;
  }
}
/***************************
kind-point-title
*****************************/
.kind-point-title {
  background: #deb068;
  color: #fff;
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  height: 78px;
  line-height: 78px;
  @include mq(tab) {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
  @include mq(sp) {
    height: 35px;
    line-height: 35px;
    font-size: 12px;
  }
  span {
    position: relative;
    padding-left: 41px;
    @include mq(tab) {
      padding-left: 24px;
    }
    @include mq(sp) {
      padding-left: 12px;
    }
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: url(../img/safe-img/kind_title_icon01.png) center center / contain no-repeat;
      width: 33px;
      height: 33px;
      @include mq(tab) {
        width: 20px;
        height: 20px;
      }
      @include mq(sp) {
        width: 10px;
        height: 10px;
      }
    }
  }
}

/*****************
util-title
******************/
.util-title {
  font-size: 27px;
  font-weight: bold;
  margin-top: 27px;
  @include mq(tab) {
    font-size: 15px;
    margin-top: 16px;
  }
  @include mq(sp) {
    font-size: 12px;
    margin-top: 3px;
  }
  span {
    color: #e95363;
  }
}

.top-cheap-text {
  margin-top: 14px;
  @include mq(tab) {
    font-size: 12px;
    margin-top: 5px;
  }
  @include mq(sp) {
    font-size: 14px;
    margin-top: 2px;
  }
  span {
    font-weight: bold;
  }
}

.top-cheap-example {
  margin-top: 30px;
  border: 2px solid #e95363;
  background: #fff;
  @include mq(tab) {
    margin-top: 15px;
  }
  @include mq(sp) {
    margin-top: 10px;
  }
}

.top-cheap-example-title {
  background-image: url(../img/safe-img/price_case_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 66px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  line-height: 66px;
  @include mq(tab) {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
  @include mq(sp) {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }
}

.top-cheap-example-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
  padding: 0 18px 20px 18px;
  @include mq(tab) {
    padding: 0 10px 12px 10px;
    margin-top: 10px;
  }
  @include mq(sp) {
    padding: 0 5px 6px 5px;
    margin-top: 5px;
  }
}

.top-cheap-example-left {
  width: 65.957%;
  dl {
    dt {
      width: 250px;
      background: #888888;
      border-radius: 4px 0 0 4px;
      color: #fff;
      text-align: center;
      height: 65px;
      line-height: 65px;
      font-size: 20px;
      @include mq(tab) {
        width: 150px;
        height: 32px;
        line-height: 32px;
        font-size: 10px;
      }
      @include mq(sp) {
        width: 80px;
        height: 25px;
        line-height: 25px;
        font-size: 10px;
        border-radius: 2px 0 0 2px;
      }
      span {
        position: relative;
        &::after {
          content: "(現在のキャンペーン価格)";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -43px;
          font-size: 14px;
          width: 200px;
          @include mq(tab) {
            bottom: -20px;
            font-size: 10px;
            width: 150px;
          }
          @include mq(sp) {
            font-size: 10px;
            transform: scale(0.6);
            transform-origin: -146px -54px;
            display: block;
          }
        }
      }
    }
  }
  dd {
    width: calc(100% - 250px);
    background: #eeeeee;
    font-size: 31px;
    height: 65px;
    line-height: 65px;
    color: #e95363;
    font-weight: bold;
    border-radius: 0 4px 4px 0;
    text-align: center;
    position: relative;
    @include mq(sp) {
      font-size: 14px;
      height: 25px;
      line-height: 25px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -36px;
      left: 24px;
      background: url(../img/safe-img/plus_icon@2x.png) center center / contain no-repeat;
      width: 26px;
      height: 26px;
      @include mq(tab) {
        bottom: -22px;
        left: 10px;
        width: 14px;
        height: 14px;
      }
      @include mq(sp) {
        bottom: -14px;
        left: 7px;
        width: 10px;
        height: 10px;
      }
    }
    @include mq(tab) {
      width: calc(100% - 150px);
      height: 32px;
      line-height: 32px;
      font-size: 20px;
    }
    @include mq(sp) {
      width: calc(100% - 80px);
      height: 25px;
      line-height: 25px;
    }
    span {
      font-size: 18px;
      @include mq(tab) {
        font-size: 10px;
      }
      @include mq(sp) {
        font-size: 10px;
      }
    }
    .span-before {
      content: "30";
      vertical-align: middle;
      font-size: 16px;
      color: #fff;
      background: #7d7d7d;
      width: 56px;
      border-radius: 12px;
      padding: 6px 9px;
      margin-right: 3px;
      @include mq(tab) {
        font-size: 10px;
        width: 30px;
        padding: 3px 6px;
      }
      @include mq(sp) {
        font-size: 10px;
        width: 20px;
        padding: 1px 3px;
      }
    }
  }
  p {
    margin-top: 45px;
    border-radius: 4px;
    font-size: 19px;
    font-weight: bold;
    background: #eeeeee;
    text-align: center;
    height: 65px;
    line-height: 65px;
    @include mq(tab) {
      font-size: 12px;
      margin-top: 30px;
      height: 32px;
      line-height: 32px;
    }
    @include mq(sp) {
      font-size: 10px;
      margin-top: 18px;
      height: 25px;
      line-height: 25px;
    }
    span {
      font-size: 27px;
      color: #e95363;
      position: relative;
      padding-left: 62px;
      @include mq(tab) {
        font-size: 15px;
        padding-left: 25px;
      }
      @include mq(sp) {
        font-size: 12px;
        padding-left: 20px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 14px;
        background: url(../img/safe-img/price_case_icon02@2x.png) center center / contain no-repeat;
        width: 42px;
        height: 30px;
        @include mq(tab) {
          width: 25px;
          height: 15px;
          left: 0;
        }
        @include mq(sp) {
          width: 15px;
          height: 10px;
          left: 0;
        }
      }
    }
  }
}

.service-text {
  color: $color-main;
  font-size: 18px;
  position: relative;
  padding-left: 70px;
  @include mq(tab) {
    font-size: 10px;
    padding-left: 35px;
  }
  @include mq(sp) {
    font-size: 10px;
    padding-left: 25px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: url(../img/safe-img/price_case_icon01@2x.png) center center / contain no-repeat;
    width: 60px;
    height: 40px;
    @include mq(tab) {
      width: 40px;
      height: 20px;
    }
    @include mq(sp) {
      width: 25px;
      height: 15px;
    }
  }
  &::after {
    position: absolute;
    content: "宛名入力代行サービス など";
    bottom: -41px;
    left: 56px;
    width: 250px;
    @include mq(tab) {
      bottom: -20px;
      left: -28px;
    }
    @include mq(sp) {
      transform: scale(0.6);
      left: -63px;
      bottom: -16px;
    }
  }
}

.d-wrap {
  display: flex;
  &:not(:first-child) {
    margin-top: 45px;
    @include mq(tab) {
      margin-top: 30px;
    }
    @include mq(sp) {
      margin-top: 18px;
    }
  }
}

.top-cheap-example-right {
  width: 31.915%;
  background: #e95363;
  text-align: center;
  padding: 75px 10px;
  @include mq(tab) {
    padding: 38px 10px;
  }
  @include mq(sp) {
    padding: 23px 5px;
  }
  p {
    font-size: 49px;
    color: #fff;
    font-weight: bold;
    @include mq(tab) {
      font-size: 30px;
    }
    @include mq(sp) {
      font-size: 20px;
    }
  }
  .span-total {
    font-size: 18px;
    color: #e95363;
    font-weight: bold;
    background: #fff;
    width: 158px;
    border-radius: 14px;
    display: block;
    margin: 0 auto;
    @include mq(tab) {
      font-size: 14px;
      width: 100px;
    }
    @include mq(sp) {
      font-size: 10px;
      width: 60px;
    }
  }
  .span-yen {
    font-size: 24px;
    @include mq(tab) {
      font-size: 14px;
    }
    @include mq(sp) {
      font-size: 12px;
    }
  }
  img {
    width: 194px;
    @include mq(tab) {
      width: 100px;
    }
    @include mq(sp) {
      width: 65px;
    }
  }
}

.payments {
  margin-top: 31px;
  display: flex;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 28px;
  @include mq(tab) {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  @include mq(sp) {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
  }
}

.payments-item {
  width: calc(50% - 30px / 2);
  @include mq(tab) {
    width: calc(50% - 15px / 2);
  }
  @include mq(sp) {
    width: calc(50% - 5px / 2);
  }

  &:not(:first-child) {
    margin-left: 30px;
    @include mq(tab) {
      margin-left: 15px;
    }
    @include mq(sp) {
      margin-left: 5px;
    }
  }
}

.payments-title {
  margin-top: 0;
}

.payments-text {
  margin-top: 18px;
  @include mq(tab) {
    font-size: 10px;
    margin-top: 6px;
  }
  @include mq(sp) {
    font-size: 10px;
    margin-top: 3px;
  }
  span {
    font-weight: bold;
  }
}

.payments-imgs {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

.credit {
  width: 35.069%;
}

.cash-delivery {
  width: 20.274%;
}

.deferred-pay {
  width: 25.205%;
}

.free-delivery {
  margin-top: 30px;
  display: flex;
  @include mq(tab) {
    margin-top: 16px;
  }
  @include mq(sp) {
    margin-top: 10px;
  }
}

.free-delivery-item {
  width: calc(50% - 30px / 2);
  @include mq(tab) {
    width: calc(50% - 15px / 2);
  }
  @include mq(sp) {
    width: calc(50% - 5px / 2);
  }
  &:not(:first-child) {
    margin-left: 30px;
    @include mq(tab) {
      margin-left: 15px;
    }
    @include mq(sp) {
      margin-left: 5px;
    }
  }
}

.free-delivery-title {
  margin-top: 0;
}

.free-delivery-text {
  margin-top: 18px;
  @include mq(tab) {
    margin-top: 6px;
    font-size: 10px;
  }
  @include mq(sp) {
    margin-top: 3px;
    font-size: 10px;
  }
  span {
    font-weight: bold;
  }
}
/*************************
kind-2point
***********************/
.kind-2point {
  padding-bottom: 136px;
  @include mq(tab) {
    padding-bottom: 80px;
  }
  @include mq(sp) {
    padding-bottom: 40px;
  }
}

.kind-2point-title {
  span {
    &::before {
      background: url(../img/safe-img/kind_title_icon02.png) center center / contain no-repeat;
    }
  }
}

.support-items {
  margin-top: 18px;
  display: flex;
  @include mq(tab) {
    margin-top: 12px;
  }
  @include mq(sp) {
    margin-top: 6px;
  }
}

.support-item {
  width: calc(50% - 80px / 2);
  @include mq(tab) {
    width: calc(50% - 40px / 2);
  }
  @include mq(sp) {
    width: calc(50% - 20px / 2);
  }
  &:not(:first-child) {
    margin-left: 80px;
    @include mq(tab) {
      margin-left: 40px;
    }
    @include mq(sp) {
      margin-left: 20px;
    }
  }
  img {
    margin-top: 18px;
    @include mq(tab) {
      margin-top: 6px;
    }
    @include mq(sp) {
      margin-top: 3px;
    }
  }
  p {
    margin-top: 18px;
    @include mq(tab) {
      margin-top: 6px;
    }
    @include mq(sp) {
      margin-top: 3px;
    }
  }
}

.support-title {
  font-size: 27px;
  color: #e95363;
  font-weight: bold;
  text-align: center;
  @include mq(tab) {
    font-size: 14px;
  }
  @include mq(sp) {
    font-size: 12px;
  }
}

.support-left-text {
  padding-bottom: 106px;
  @include mq(tab) {
    font-size: 10px;
    padding-bottom: 68px;
  }
  @include mq(sp) {
    font-size: 10px;
    padding-bottom: 79px;
  }
}

.support-right-text {
  padding-bottom: 45px;
  @include mq(tab) {
    font-size: 10px;
    padding-bottom: 20px;
  }
  @include mq(sp) {
    font-size: 10px;
    padding-bottom: 0;
  }
  strong {
    font-weight: bold;
  }
  span {
    font-size: 12px;
    padding-left: 14px;
    display: inline-block;
    position: relative;
    @include mq(tab) {
      font-size: 10px;
      transform: scale(0.8);
      transform-origin: 0 0;
      display: inline-block;
      padding-left: 8px;
    }
    @include mq(sp) {
      font-size: 10px;
      transform: scale(0.6);
      transform-origin: 0 0;
      display: inline-block;
      padding-left: 8px;
    }
    &::before {
      content: "※";
      position: absolute;
      top: 0;
      left: 0;
      font-size: 12px;
      @include mq(tab) {
        font-size: 10px;
        transform: scale(0.8);
      }
      @include mq(sp) {
        font-size: 10px;
        transform: scale(0.6);
      }
    }
  }
}

.support-btn {
  margin: 0 auto;
}

/************************
kind-3point
************************/
.kind-3point-title {
  span {
    &::before {
      background: url(../img/safe-img/kind_title_icon03.png) center center / contain no-repeat;
    }
  }
}

.kind-3point-items {
  display: flex;
  margin-top: 34px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
  @include mq(tab) {
    margin-top: 14px;
    padding-bottom: 15px;
  }
  @include mq(sp) {
    margin-top: 10px;
    padding-bottom: 6px;
  }
}

.kind-3point-item {
  width: calc(33.3% - 28px * 2 / 3);
  @include mq(tab) {
    width: calc(33.3% - 14px * 2 / 3);
  }
  @include mq(sp) {
    width: calc(33.3% - 7px * 2 / 3);
  }
  &:not(:first-child) {
    margin-left: 28px;
    @include mq(tab) {
      margin-left: 14px;
    }
    @include mq(sp) {
      margin-left: 7px;
    }
  }
  text-align: center;
}

.kind-3point-item-img1 {
  width: 224px;
  @include mq(tab) {
    width: 140px;
  }
  @include mq(sp) {
    width: 70px;
  }
}

.kind-3point-item-img2 {
  width: 287px;
  @include mq(tab) {
    width: 180px;
  }
  @include mq(sp) {
    width: 90px;
  }
}

.kind-3point-item-img3 {
  width: 174px;
  @include mq(tab) {
    width: 100px;
  }
  @include mq(sp) {
    width: 50px;
  }
}

.kind-3point-item-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  @include mq(tab) {
    font-size: 14px;
  }
  @include mq(sp) {
    font-size: 12px;
  }
  span {
    color: #e95363;
  }
}

.kind-3point-item-text {
  margin-top: 16px;
  text-align: left;
  @include mq(tab) {
    margin-top: 10px;
    font-size: 10px;
  }
  @include mq(sp) {
    font-size: 10px;
    margin-top: 5px;
  }
  span {
    font-weight: bold;
  }
}

.kind-3point-item-text2 {
  padding-bottom: 24px;
  @include mq(tab) {
    padding-bottom: 16px;
  }
  @include mq(sp) {
    padding-bottom: 32px;
  }
}

.kind-3point-item-text3 {
  padding-bottom: 24px;
  @include mq(tab) {
    padding-bottom: 22px;
  }
  @include mq(sp) {
    padding-bottom: 35px;
  }
}

.kind-3point-item-btn {
  width: 100%;
  margin-top: 20px;
  @include mq(tab) {
    margin-top: 10px;
  }
  @include mq(sp) {
    margin-top: 5px;
    width: 170px;
    transform-origin: 0 0;
  }
}

.kind-3point-bottom-wrap {
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
  @include mq(tab) {
    padding-bottom: 15px;
  }
}

.kind-3point-bottom {
  max-width: 646px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  @include mq(tab) {
    max-width: 400px;
    margin-top: 15px;
  }
  @include mq(sp) {
    max-width: 250px;
    margin-top: 7px;
  }
}

.kind-3point-bottom-title {
  font-size: 24px;
  font-weight: bold;
  @include mq(tab) {
    font-size: 14px;
  }
  @include mq(sp) {
    font-size: 12px;
  }
  span {
    color: #e95363;
  }
}

.kind-3point-bottom-items {
  display: flex;
  margin-top: 32px;
  @include mq(tab) {
    margin-top: 16px;
  }
  @include mq(sp) {
    margin-top: 8px;
  }
}

.kind-3point-bottom-item {
  width: calc(50% - 15px / 2);
  @include mq(sp) {
    width: calc(50% - 7px / 2);
  }
  &:not(:first-child) {
    margin-left: 15px;
    @include mq(sp) {
      margin-left: 7px;
    }
  }
  text-align: center;
}

.kind-3point-bottom-text {
  text-align: left;
  @include mq(tab) {
    font-size: 10px;
  }
  @include mq(sp) {
    font-size: 10px;
  }
  span {
    font-weight: bold;
  }
}

.kind-3point-bottom-btn {
  width: 100%;
  margin-top: 39px;
  @include mq(tab) {
    margin-top: 28px;
  }
  @include mq(sp) {
    margin-top: 14px;
    width: 170px;
    transform-origin: 0 0;
  }
}

.kind-3point-bottom-text-point {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  background: #fbe6e8;
  padding: 15px;
  border-radius: 12px;
  line-height: 1.4rem;
  margin-top: 12px;
  @include mq(tab) {
    font-size: 12px;
    padding: 8px;
    line-height: 1.2;
    margin-top: 8px;
  }
  @include mq(sp) {
    font-size: 10px;
    padding: 4px;
    line-height: 1.2;
    margin-top: 4px;
  }
  span {
    color: #eb5f6e;
    strong {
      font-size: 27px;
      @include mq(tab) {
        font-size: 18px;
      }
      @include mq(sp) {
        font-size: 14px;
      }
    }
  }
}

/**************************
welcome
***************************/
.welcome {
  background: #fbfaf4;
  padding: 45px 0 138px 0;
  border-bottom: 1px solid #e0e0e0;
  @include mq(tab) {
    padding: 23px 0 80px 0;
  }
  @include mq(sp) {
    padding: 20px 0 40px 0;
  }
}

.welcome-inner {
  text-align: center;
}

.welcome-img {
  margin: 0 auto;
  width: 517px;
  @include mq(tab) {
    width: 340px;
  }
  @include mq(sp) {
    width: 200px;
  }
}

.start {
  display: inline-block;
  margin-top: 36px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding-left: 22px;
  padding-right: 22px;
  @include mq(tab) {
    margin-top: 18px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
  }
  @include mq(sp) {
    margin-top: 10px;
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../img/welcome-img/welcome_text_bg01@2x.png) center center / contain no-repeat;
    width: 25px;
    height: 23px;
    @include mq(tab) {
      width: 12px;
      height: 15px;
      bottom: 3px;
    }
    @include mq(sp) {
      width: 6px;
      height: 7px;
      bottom: 10px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../img/welcome-img/welcome_text_bg02@2x.png) center center / contain no-repeat;
    width: 25px;
    height: 23px;
    @include mq(tab) {
      width: 12px;
      height: 15px;
      bottom: 3px;
    }
    @include mq(sp) {
      width: 6px;
      height: 7px;
      bottom: 10px;
    }
  }
}

.welcome-btn {
  margin: 0 auto;
  margin-top: 122px;
  @include mq(tab) {
    margin-top: 75px;
  }
  @include mq(sp) {
    margin-top: 30px;
  }
  a {
    background: #df7163;
    height: 74px;
    line-height: 74px;
    position: relative;
    box-shadow: 0 4px 2px #b35a4f;
    transform: translateY(-4px);
    transition: all 0.2s;
    &:hover {
      box-shadow: 0 1px 0 #b35a4f;
      transform: translateY(-1px);
    }
    @include mq(tab) {
      height: 45px;
      line-height: 45px;
    }
    @include mq(sp) {
      height: 35px;
      line-height: 35px;
    }
    &::before {
      position: absolute;
      content: "";
      background: url(../img/welcome-img/btn_icon@2x.png) center center / contain no-repeat;
      top: -104px;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 109px;
      @include mq(tab) {
        width: 70px;
        height: 70px;
        top: -65px;
      }
      @include mq(sp) {
        width: 60px;
        height: 60px;
        top: -58px;
      }
    }
  }
}
/******************************
pagination
******************************/
.pagination {
  background: #fbfaf4;
  border-bottom: 1px solid #e0e0e0;
}

.pagination-inner {
  max-width: 917px;
  @include mq(tab) {
    max-width: 560px;
  }
  @include mq(sp) {
    max-width: 330px;
  }
}

.pagination-lists {
  display: flex;
  @include mq(sp) {
    transform: scale(0.6);
    transform-origin: 0 8px;
  }
  
  li {
    padding-right: 20px;
    margin-right: 14px;
    font-size: 14px;
    position: relative;
    height: 44px;
    line-height: 44px;
    @include mq(tab) {
      font-size: 10px;
      height: 22px;
      line-height: 22px;
      margin-right: 6px;
      padding-right: 14px;
    }
    @include mq(sp) {
      height: 14px;
      line-height: 14px;
      font-size: 10px;
      margin-right: 6px;
      padding-right: 14px;
    }
    &:not(:last-child) {
      &::after {
        content: ">";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
/*************************
footer
*************************/
.footer-inner {
  display: flex;
  max-width: 917px;
  justify-content: space-between;
  @include mq(tab) {
    max-width: 560px;
  }
  @include mq(sp) {
    max-width: 330px;
  }
}

.footer-left {
  width: 59.978%;
  padding-top: 22px;
  @include mq(tab) {
    padding-top: 0;
  }
  @include mq(sp) {
    padding-top: 0;
  }
}

.footer-left-link-wrap {
  display: flex;
  justify-content: space-between;
  align-items: end;
  @include mq(sp) {
    display: block;
  }
}

.footer-logo {
  display: inline-block;
  transition: all 0.3s;
  &:hover {
    opacity: 0.7;
  }
  img {
    width: 327px;
    @include mq(tab) {
      width: 169px;
    }
    @include mq(sp) {
      width: 100px;
    }
  }
}

.footer-link {
  display: inline-block;
  font-size: 12px;
  text-decoration: underline;
  position: relative;
  padding-left: 11px;
  @include mq(sp) {
    display: block;
  }
  @include mq(tab) {
    font-size: 10px;
    transform: scale(0.8);
    transform-origin: 0 0;
    display: block;
    padding-left: 6px;
  }
  @include mq(sp) {
    font-size: 10px;
    transform: scale(0.4);
    transform-origin: 0 -8px;
    padding-left: 10px;
    display: block;
  }
  &:hover {
    text-decoration: none;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: url(../img/footer-img/icon_footer_nav.svg) center center / contain no-repeat;
    width: 9px;
    height: 11px;
    @include mq(tab) {
      width: 5px;
      height: 7px;
    }
    @include mq(sp) {
      width: 5px;
      height: 7px;
    }
  }
}

.footer-left-imgs {
  margin-top: 30px;
  display: flex;
  padding: 0 14px;
  @include mq(sp) {
    margin-top: 6px;
  }
  img {
    &:not(:first-child) {
      margin-left: 24px;
      @include mq(sp) {
        margin-left: 7px;
      }
    }
  }
}

.footer-left-img1 {
  width: 100px;
  @include mq(tab) {
    width: 50px;
  }
  @include mq(sp) {
    width: 25px;
  }
}

.footer-left-img2 {
  width: 110px;
  @include mq(tab) {
    width: 55px;
  }
  @include mq(sp) {
    width: 30px;
  }
}

.footer-left-img3 {
  width: 130px;
  @include mq(tab) {
    width: 65px;
  }
  @include mq(sp) {
    width: 35px;
  }
}

.footer-left-img4 {
  width: 130px;
  @include mq(tab) {
    width: 65px;
  }
  @include mq(sp) {
    width: 35px;
  }
}

.footer-left-bg {
  width: 453px;
  margin-left: 40px;
  @include mq(tab) {
    width: 280px;
    margin-left: 20px;
  }
  @include mq(sp) {
    width: 150px;
    margin-left: 10px;
  }
}

.footer-right {
  width: 33.915%;
  display: flex;
  justify-content: space-between;
  img {
    width: 100px;
    height: 99px;
    aspect-ratio: 100 / 99;
    margin-top: 18px;
    @include mq(tab) {
      width: 60px;
      height: 59px;
      aspect-ratio: 60 / 59;
    }
    @include mq(sp) {
      width: 30px;
      height: 30px;
      aspect-ratio: 1;
    }
  }
}

.footer-right-lists {
  width: 58.333%;
  li {
    &:not(:first-child) {
      margin-top: 4px;
      @include mq(sp) {
        margin-top: 0;
        height: 18px;
      }
    }
  }
  a {
    display: block;
    height: 28px;
    line-height: 28px;
    background: #79a63a;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    transition: opacity 0.3s ease 0s;
    @include mq(tab) {
      height: 18px;
      line-height: 18px;
      font-size: 10px;
      border-radius: 2px;
    }
    @include mq(sp) {
      font-size: 10px;
      height: 15px;
      line-height: 15px;
      border-radius: 2px;
      transform: scale(0.6);
      width: 120px;
      transform-origin: 0 0;
      display: block;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.footer-top {
  a {
    padding-right: 14px;
    height: 34px;
    line-height: 34px;
    background: #9ea1a3;
    position: relative;
    @include mq(tab) {
      height: 22px;
      line-height: 22px;
      padding-right: 7px;
    }
    @include mq(sp) {
      height: 17px;
      line-height: 17px;
    }
    &::before {
      position: absolute;
      background: #ffffff url(../img/footer-img/icon_page_top.svg) center center no-repeat;
      background-size: 20px 20px;
      border-radius: 100%;
      content: "";
      display: block;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      left: 12px;
      width: 20px;
      @include mq(tab) {
        width: 10px;
        height: 10px;
        left: 5px;
        background-size: 10px 10px;
      }
      @include mq(sp) {
        width: 10px;
        height: 10px;
        background-size: 10px 10px;
        left: 3px;
      }
    }
  }
}

.footer-twitter {
  a {
    padding-right: 34px;
    position: relative;
    @include mq(tab) {
      padding-right: 17px;
    }
    @include mq(sp) {
      padding-right: 22px;
    }
    &::after {
      position: absolute;
      content: "";
      background: url(../img/footer-img/footer_sns_twitter.svg) center center / contain no-repeat;
      top: 50%;
      transform: translateY(-50%);
      left: 12px;
      width: 22px;
      height: 18px;
      @include mq(tab) {
        width: 11px;
        height: 9px;
        left: 6px;
      }
      @include mq(sp) {
        width: 11px;
        height: 9px;
        left: 6px;
      }
    }
  }
}

.footer-instagram {
  a {
    position: relative;
    padding-right: 20px;
    @include mq(tab) {
      font-size: 10px;
      padding-right: 10px;
    }
    @include mq(sp) {
      font-size: 10px;
      padding-right: 16px;
    }
    &::after {
      position: absolute;
      content: "";
      background: url(../img/footer-img/footer_sns_instagram.svg) center center / contain no-repeat;
      top: 50%;
      transform: translateY(-50%);
      left: 12px;
      width: 20px;
      height: 18px;
      @include mq(tab) {
        width: 10px;
        height: 8px;
        left: 5px;
      }
      @include mq(sp) {
        width: 10px;
        justify-items: 8px;
        left: 5px;
      }
    }
  }
}

.footer-facebook {
  a {
    position: relative;
    padding-right: 30px;
    @include mq(tab) {
      padding-right: 15px;
    }
    @include mq(sp) {
      padding-right: 24px;
    }
    &::after {
      position: absolute;
      content: "";
      background: url(../img/footer-img/footer_sns_facebook.svg) center center / contain no-repeat;
      top: 50%;
      transform: translateY(-50%);
      left: 16px;
      width: 13px;
      height: 20px;
      @include mq(tab) {
        width: 6px;
        height: 10px;
        left: 8px;
      }
      @include mq(sp) {
        width: 6px;
        height: 10px;
        left: 8px;
      }
    }
  }
}

.footer-lists-wrap {
  background: #e0e0e0;
}

.footer-bg-point {
  background: #78a639;
  height: 9px;
  @include mq(tab) {
    height: 5px;
  }
  @include mq(sp) {
    height: 3px;
  }
}

.footer-lists-inner {
  display: flex;
  justify-content: space-between;
  max-width: 925px;
  padding: 22px 10px 22px 0;
  @include mq(tab) {
    max-width: 600px;
    padding: 10px 5px 10px 0;
  }
  @include mq(sp) {
    max-width: 330px;
    padding: 5px 2.5px 5px 0;
    display: block;
  }
}

.footer-lists {
  display: flex;
  @include mq(sp) {
    justify-content: space-between;
  }
}

.footer-list {
  font-size: 12px;
  padding-left: 10px;
  position: relative;
  font-weight: bold;
  @include mq(tab) {
    font-size: 10px;
    transform: scale(0.8);
    transform-origin: 0 0;
    display: block;
  }
  @include mq(sp) {
    font-size: 10px;
    transform: scale(0.6);
    transform-origin: 0 0;
    display: block;
  }
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: url(../img/footer-img/icon_footer_nav.svg) center center / contain no-repeat;
    width: 9px;
    height: 11px;
  }
  &:not(:first-child) {
    margin-left: 28px;
    @include mq(tab) {
      margin-left: 14px;
    }
    @include mq(sp) {
      margin-left: 7px;
    }
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.copyright {
  font-size: 12px;
  @include mq(tab) {
    font-size: 10px;
    transform: scale(0.8);
    transform-origin: 0 0;
    display: block;
  }
  @include mq(sp) {
    font-size: 10px;
    transform: scale(0.6);
    transform-origin: 0 0;
    display: block;
  }
}
